header {
    background-color: #cb89d0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/background.png);
}

.houses {
    display: flex;
    flex-direction: row;
}

img {
    z-index: 20;
}

.house {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.house img {
    width: 100%;
    height: 250px;
    padding: 10px;
    transition: transform 0.5s ease-in-out;
}

.reveal {
    transform: translateY(-100px);
}

.gary {
    z-index: 10;
    position: absolute;
    content: 🐌;
    height: 40px;
    width: 40px;
    font-size: 70px;
    margin: 10px;
    top: 300px;
}

button {
    background-color: #cb89d0;
    border: black;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#scoreboard {
    margin-top: 35px;
    background-color: #cb89d0;
}
